
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');


*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #0000C0, rgba(0, 0, 0, .5)), url("../img/banner/banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 15px;
}

.navFixed{
    z-index: 2000;
    position:fixed;
    top: 0;
    width: 100%;
    background-color: #0000C0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, .5);
}

nav ul {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    transition: all .5s ease;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color: #09AEEE;
}

.followUs {
    display: flex;
    font-size: 25px;
}

nav #nav-btn {
    display: none;
}

.logo {
    height: 100%;
    padding-top: 15px;
}

.logo img {
    height: 90%;
}

.description {
    position: absolute;
    bottom: 200px;
    left: 15px;
}

h1 {
    font-size: 45px;
}

.pDescription {
    font-size: 20px;
    opacity: .8;
}

.clPrimary {
    color: #0000C0;
}

.clPrimaryDark {
    color: #050552;
}

.clSecondary {
    color: #09AEEE;
}

.clWhite {
    color: #fff;
}

.bgSecondary {
   background-color: #0000C0;
}

.title {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bolder;
}

/** About us **/
.aboutUs {
    display: flex;
}

.imgAboutUs {
    height: 450px;
    background: linear-gradient(to bottom, #3B5998, rgba(0, 0, 0, .1)), url("../img/aboutus/aboutus.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.pAboutUs {
    font-size: 30px;
}

/** Servicies **/
.servicies {
    display: flex;
}

.blockImgServicies {
    background-color: #0E76A8;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.descServicies {
    position: absolute;
    top: calc(50vh/2);
    text-align: center;
}

.imgServicies {
    width: 100%;
    height: 100%;
    opacity: .3;
}

/** Partnair **/
#displayLg {
    display: block;
}

#displaySm {
    display: none;
}

.partnair {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockPartnair {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.imgPartnair {
    width: 100%;
    height: 100%;
    transition: all .5s ease;
}

.blockPartnair:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

/** Contact us **/
.descContactUs{
    font-weight: 600;
}

.label {
    color: #000;
}

.input {
    border: 1px solid #0000C0;
    border-radius: 0%;
}

.submit {
    width: 100%;
    border-radius: 0%;
    text-transform: uppercase;
}

.blockInfo {
    display: flex;
    justify-content: start;
    align-items: start;
    color: #000;
}

.contactIcon {
    font-size: 25px;
}


/** Responsive **/
@media screen and (max-width: 912px) {
    header {
        height: 50vh;
        width: 100%;
    }

    .description {
        bottom: 70px;
        left: 15px;
        font-weight: 700;
    }

    /** About us **/
    .aboutUs {
        display: flex;
        flex-direction: column;
    }

    /** Servicies **/
    .servicies {
        flex-direction: column;
    }

    .blockImgServicies {
        height: 35vh;
    }

    .descServicies {
        top: calc(35vh/2);
    }

    /** Partnair **/
    #displayLg {
        display: none;
    }

    #displaySm {
        display: block;
    }


    .blockPartnair {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .imgPartnair {
        width: 100%;
        height: 100%;
        transition: all .5s ease;
    }
}

@media screen and (max-width: 540px) {
    header {
        height: 50vh;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #0000C0;
        z-index: 999;
    }

    nav ul li{
        margin: 15px 0;
    }

    #firstLink {
        margin: 60px 0 15px 0;
    }

    .followUs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    nav #nav-btn {
        width: 50px;
        height: 50px;
        text-align: center;
        top: 10px;
        right: 30px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
    }

    nav #nav-btn img {
        width: 20px;
        z-index: 1000;
    }

    .description {
        bottom: 50px;
        left: 15px;
        font-weight: 700;
    }

    h1 {
        font-size: 20px;
    }
    
    .pDescription {
        font-size: 12px;
    }

    /** About us **/
    .aboutUs {
        display: flex;
        flex-direction: column;
    }

    .imgAboutUs {
        height: 250px;
    }

    .pAboutUs {
        font-size: 20px;
    }

    /** Servicies **/
    .servicies {
        flex-direction: column;
    }

    .blockImgServicies {
        height: 35vh;
    }

    .descServicies {
        top: calc(35vh/2);
    }

    /** Partnair **/
    #displayLg {
        display: none;
    }

    #displaySm {
        display: block;
    }


    .blockPartnair {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .imgPartnair {
        width: 70%;
        height: 70%;
        transition: all .5s ease;
    }

}

@media screen and (max-width: 280px) {
    header {
        height: 40vh;
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #0000C0;
        z-index: 999;
    }

    nav ul li{
        margin: 15px 0;
    }

    #firstLink {
        margin: 60px 0 15px 0;
    }

    .followUs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    nav #nav-btn {
        width: 50px;
        height: 50px;
        text-align: center;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
    }

    nav #nav-btn img {
        width: 15px;
        z-index: 1000;
    }

    .logo img {
        height: 50%;
    }

    .description {
        bottom: 30px;
        left: 15px;
        font-weight: 700;
    }

    h1 {
        font-size: 15px;
    }
    
    .pDescription {
        font-size: 10px;
    }

    .title {
        text-transform: uppercase;
        font-size: x-large;
        font-weight: bolder;
    }

    /** About us **/
    .aboutUs {
        display: flex;
        flex-direction: column;
    }

    .imgAboutUs {
        height: 200px;
    }

    .pAboutUs {
        font-size: 18px;
    }
}